<div class="container text-center">
    <div class="row">
        <p class='text-article text-left'>
            In this work, a line contact formulation for the contact between flexible beams is explored. The mortar
            finite element method is used to enforce contact constraints in a weak sense. The formulation is present in
            the context the SE3 geometrically exact beam.
        </p>
    </div>

    <div class="row-section">
        <p class="text-article secondary-title">Twist of two beams: line contact formulation</p>
        <div class='video-group'>
            <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/u90UkQj2i2w'
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="row-section">
        <p class="text-article secondary-title">Twist of two beams: line contact formulation with a lateral separation
        </p>
        <div class='video-group'>
            <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/J3Phdpn8fko'
                allowfullscreen></iframe>
        </div>
    </div>

</div>