<div class="container text-center">
    <div class="row">
	<p class='text-article text-left'>Part of my PhD thesis:
	    A FE enrichment for solving isothermal phase change problems is presented. The method
has the advantages of a fixed mesh method that does not need remeshing to conform to the
phase change interface, but also introduces the possibility to represent the discontinuity
in the temperature gradient at the solidification front by enriching locally where it is
necessary. The proposed method also avoids the use of an auxiliary equation to determine
the enrichment position, which is common for level set formulations; instead, this position
is determined with a constraint that imposes that the temperature at the phase change
boundary must be the melting temperature. </p>
    </div>
    <div class="row">
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Solution without using enrichment</p>
	    <div class='video-group'>
		<iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/tPuWfQ9Br4E' allowfullscreen></iframe>
	    </div>
	</div>
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Proposed enrichment</p>
	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/enrichmentFunction.png">
	</div>
    </div>
    <div class="row-section">
	<p class="text-article secondary-title">Solution using the proposed enrichment</p>
	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height='' src="https://www.youtube.com/embed/LoYfVAxDocg" allowfullscreen></iframe>
	</div>
    </div>
</div>



