<div class="container text-center">
    <div class="row">
	<p class='text-article text-left'>I was working in the
development of Hyper-reduced order models as a strategy for tackling
the high computational cost of highly non-linear thermal problems
characterized by many different sources of non-linearities and,
possibly, by essential boundary conditions. The kind of
hyper-reduction proposed here is based on the Gappy data
reconstruction methodology.</p> </div>
    <div class="row justify-content-md-center">
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">The FETI method</p>
	    <img style="box-shadow:none; width: 60%;height:auto;" src="public/images/ddm.png">
	    <p class="text-article text-left"> The FETI domain
	    decomposition method imposes the compatibility between
	    subdomains using Lagrange multipliers. </p>
	</div>
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Design of a computational framework for FETI</p>
	    <img style="box-shadow:none; width: 80%;height:auto;" src="public/images/petscFETI.png">
	    <p class="text-article text-left"> To ensure extensibility
and flexibility, an object-oriented design is adopted. Basic
requirements already satisfied by the PETSc library. </p>
	</div>
    </div>

    <div class="row row-section">
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Numerical scalability of the implemented solution for a 2D problem</p>
	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/numscalaFeti.png">
	</div>
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Efficiency of the implemented solution for a 2D problem</p>

	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/efficiencyFeti.png">
	</div>
    </div>
</div>



