<div class="container text-center">
    <div class="row">
	<p class='text-article text-left'>
    A new frictional contact element for the simulation of the
non-smooth dynamics of systems composed of rigid and flexible bodies
connected by kinematic joints is proposed. The equations of motion are
integrated using a nonsmooth generalized-&alpha; time integration
scheme and the frictional contact problem is formulated using a mixed
approach, based on an augmented Lagrangian technique and a Coulomb
friction law.</p>
    </div>
    <div class="row-section">
	<p class="text-article secondary-title">Simulation of a pendulum impacting a rigid plane attached to flexible supports</p>
	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/ON5Z4CeaLTA' allowfullscreen></iframe>
	</div>
    </div>
    <div class="row-section">
	<p class="text-article secondary-title">Simulation of a rocking rod impacting two supports</p>
	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/FKunaLPBt0k' allowfullscreen></iframe>
	</div>
    </div>
</div>
