<div class="container text-center">
    <div class="row">
	<p class='text-article text-left'>A Global-Local formulation
	for dealing with problems with concentrated moving sources is
	proposed. A global coarse mesh is used for the global domain,
	whilst a fine mesh is used for the local domain which moves
	following the concentrated heat source. This technique has the
	advantage of reducing not only the number of degrees of
	freedom, but also of enabling the application of reduced order
	models for the fine domain. </p>
    </div>
    <div class="row">
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">A one dimensional problem</p>
	    <div class='video-group'>
		<iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/ytX3r11Eaco' allowfullscreen></iframe>
	    </div>
	</div>
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">A two dimensional problem</p>
	    <div class='video-group'>
		<iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/Am2uQ6jUZRk' allowfullscreen></iframe>
	    </div>
	</div>
    </div>
    <div class="row-section">
	<p class="text-article secondary-title">Reduced order model based on the Global-Local method</p>
	<p class="text-article text-left"> Comparison of the high
	fidelity solution (left) and the one obtained with a reduced
	order model (ROM) based on a global-local method. The ROM was
	trained with an L-shaped trajectory, different from the
	eight-shaped trajectory followed by the current example.</p>

	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/ydbhprwaTd0' allowfullscreen></iframe>
	</div>

    </div>
</div>
