<div class="container text-center">
    <div class="row">
	<p class='text-article text-left'>I was working in the
development of Hyper-reduced order models as a strategy for tackling
the high computational cost of highly non-linear thermal problems
characterized by many different sources of non-linearities and,
possibly, by essential boundary conditions. The kind of
hyper-reduction proposed here is based on the Gappy data
reconstruction methodology.</p> </div>
    <div class="row justify-content-md-center">
	<div class="col-sm-12 col-md-8">
	    <p class="text-article secondary-title">Basic idea of hyper-reduction</p>
	    <img style="box-shadow:none; width: 65%;height:auto;" src="public/images/hromIdea.png">
	    <p class="text-article text-left"> The methodology
 consists in a first reduction by expressing the solution in terms of
 a reduced set of static and dynamic <emph>modes</emph> which capture
 the response of the system. A second reduction is performed by
 evaluating the non-linear term in few point of the domain by means of
 the gappy data reconstruction scheme. </p>
	</div>
    </div>

    <div class="row row-section">
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Example to study</p>
	    <p class="text-article text-left"> A non-linear thermal
	    problem with time depedent essential boundary
	    conditions. Showing time instants of the high-fidelity
	    solution.</p>
	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/hromExample0.png">
	</div>
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Error obtained for the proposed HROM</p>

	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/hromExample1.png">
	</div>
    </div>
</div>



