<div class="container text-center">
    <div class="row">
        <p class='text-article text-left'>
            In this work, the nonsmooth generalized-&alpha; time integration is extended to problem involving
            constraints at acceleration level. Also, the convenience of using constraints at acceleration level for
            certain kind of problems is studied.
        </p>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <p class="text-article secondary-title">Test case: a sphere rolling over a fixed sphere with zero gravity.
                They are linked by a preloaded spring.</p>
            <img style="box-shadow:none; width: 40%;height:auto;" src="public/images/nsga_acc.png">
        </div>
    </div>

    <div class="row-section">
        <p class="text-article secondary-title">Result obtain using the decoupled version of the NSGA with constraints
            at position and velocity levels: the outer sphere artificially accelerates</p>
        <div class='video-group'>
            <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/Ww_enwryigg'
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <p class="text-article secondary-title" style="margin-top: 5%; color:coral;">As it is shown in the following
            comparison, when that problem is solved
            taking into account constraints at acceleration level, the outer ball does not accelerates.</p>
        <div class="col-sm-12 col-md-6">
            <p class="text-article secondary-title">Results obtained imposing constraints at acceleration level</p>
            <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/vel_spheres_cmp_new.png">
        </div>
        <div class="col-sm-12 col-md-6">
            <p class="text-article secondary-title">Results obtained WITHOUT imposing constraints at acceleration level
            </p>
            <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/vel_spheres_cmp_old.png">
        </div>
    </div>

</div>