<div class="container text-center">
    <div class="row">
	<p class='text-article text-left'>Part of my PhD thesis: In
order to exploit the parallelism exposed by Finite Element
discretisations, I worked on the parallelization of the OOFELIE
Multiphysics FE code. Distributed shared memory architectures were
targeted, therefore a shared memory paradigm was adopted in this
work.</p>
    </div>
    <div class="row">
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Targeted architecture</p>
	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/multiProcessors.png">
	</div>
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Schematic representation of the solution</p>
	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/threadingH.png">
	</div>
    </div>
    <div class="row-section">
	<p class="text-article secondary-title">Speedup and efficiency for the matrix assembling (3D)</p>
	<img style="box-shadow:none; width: 100%;height:auto;" src="public/images/speedupAssembling.png">
    </div>
</div>
