<div class="container text-center">
    <div class="row">
	<p class='text-article text-left'>
	    First results on rolling friction. A sphere to sphere and a sphere to plane contact elements have been implemented to model problems with sliding and rolling friction. The model imposes the friction constraints both at position and at velocity level.	</p>
    </div>

    <div class="row-section">
	<p class="text-article secondary-title">One free-moving ball collides another fixed rotating ball</p>
	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/VyARWEaP0Aw' allowfullscreen></iframe>
	</div>
    </div>

    <div class="row-section">
	<p class="text-article secondary-title">Motion of two balls rotating one over the other</p>
	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/JLQ3tzg1hto' allowfullscreen></iframe>
	</div>
    </div>

    <div class="row-section">
	<p class="text-article secondary-title">A three dimensional pyramid made of balls</p>
	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/Oi-MSORvU-4' allowfullscreen></iframe>
	</div>
    </div>


</div>
