<div class="container text-center">
    <div class="row">
	<p class='text-article text-left'>
	    A robust and accurate time integrator for the dynamic
	    simulation of multibody systems composed by rigid and/or
	    flexible bodies subject to contacts and impacts is
	    proposed. For this purpose, a decoupled version of the
	    original non-smooth generalized-&alpha; (NSGA) method is
	    proposed leading to obtain a scheme which is more robust
	    for problems involving flexible elements and non-linear
	    bilateral constraints.  In what follows, the results
	    obtained with the original NSGA are denoted by CS
	    (Coupled-Solution), whilst the ones obtained with the
	    proposed extension are denoted by DS (Decoupled-Solution).
	</p>
    </div>

    <div class="row-section">
	<p class="text-article secondary-title">Results for the impact of a rigid rectangular parallelepiped using the proposed solver</p>
	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/ZuFuFSKG8ik' allowfullscreen></iframe>
	</div>
    </div>
    
    <div class="row-section">
	<p class="text-article secondary-title">Results for a 3D bouncing flexible cube using the proposed solver</p>
	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/1qp61pvkOPI' allowfullscreen></iframe>
	</div>
    </div>

    
    <div class="row">
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Average number of iterations for a 3D bouncing flexible cube</p>
	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/bouncingCubeAvg.png">
	</div>
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Maximum number of iterations for a 3D bouncing flexible cube</p>
	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/bouncingCubeMax.png">
	</div>
    </div>


</div>
