<div class="container text-center">
    <div class="row">
	<p class='text-article text-left'>Part of my PhD thesis:
	    thermo-mechanical simulation of welded joints present in
nuclear power plants. Case of study: the welding process of the nozzle
weld that connects the Reactor Pressure Vessel (RPV) and the cold leg
of a nuclear reactor facility is studied.</p>
    </div>
    <div class="row">
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Detail of the nozzle weld</p>
	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/nozzle.png">
	</div>
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Materials used in each region of the weld</p>
	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/materialsWeld.png">
	</div>
    </div>
    <div class="row-section">
	<p class="text-article secondary-title">Equivalent plastic deformation evolution</p>
	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height=''  src="https://www.youtube.com/embed/9ClACjX9_Jo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
    </div>
</div>
