<div class="container text-center">
    <div class="row">
	<p class='text-article text-left'>Part of my PhD thesis:
	    simulation of the microstructure evolution of the additive
	    manufacturing of a piece using the Titanium alloy Ti6Al4V </p>
    </div>
    <div class="row">
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Definition of the problem</p>
	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/microEvolProblem.png">
	</div>
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Microstructure evolution at the intersection point of lines A and B</p>
	    <img style="box-shadow:none; width: 100%;height:auto;" src="public/images/microEvolMicro.png">
	</div>
    </div>
    <div>
	<p class="text-article secondary-title">Temperature evolution</p>
	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/HsXBLdD0maE' allowfullscreen></iframe>
	</div>
    </div>
</div>
