<div class="container text-center">
    <div class="row">
	<p class='text-article text-left'>
	    The study of the woodpecker toy dynamics sets up a good
	    example to show the capabilities of the nonsmooth
	    generalized-&alpha; scheme within the context of a
	    general finite element framework. This example has already
	    been studied by many authors who generally adopt a model
	    with a minimal set of coordinates and small
	    rotations. Here, the woodpecker toy is simulated adopting
	    a finite element approach, where the equations of motion
	    are assembled automatically, and large rotations can be
	    easily considered without.
	</p>
    </div>

    <div class="row">
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Definition of the problem</p>
	    <img style="box-shadow:none; width: 60%;height:auto;" src="public/images/woodpeckerProblem.png">
	</div>
	<div class="col-sm-12 col-md-6">
	    <p class="text-article secondary-title">Model of the problem</p>
	    <img style="box-shadow:none; width: 60%;height:auto;" src="public/images/woodpeckerModel.png">
	    <p class="text-article text-left"> As finite element coordinates are used, the woodpecker is described
	    through nodes and elements, such as rigid bodies, contact elements, kinematic joints and springs. </p>	    
	</div>
    </div>

    <div class="row-section">
	<p class="text-article secondary-title">Simulation of the woodpecker toy</p>
	<p class="text-article text-left"> The sleeve is totally free to move.</p>	    
	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/N-uIVnEQHFQ' allowfullscreen></iframe>
	</div>
    </div>

    <div class="row-section">
	<p class="text-article secondary-title">Simulation of the woodpecker toy</p>
	    <p class="text-article text-left"> The horizontal component of displacement of the sleeve is fixed.</p>	    

	<div class='video-group'>
	    <iframe class='iframe-video' width='100%' height='' src='https://www.youtube.com/embed/RWFPZ6Vgo0w' allowfullscreen></iframe>
	</div>
    </div>

</div>
